/* On every page */
*{
  font-family: "Poppins", serif; 
}
.navbar{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  color: white;
  font-size: 50px;
  text-decoration: none;
  transition: 0.2s;
}
.navbar a:visited {
  color: white;
}
.navbar a:hover {
   transform: scale(1.1);
}




nav{background-color: #5C3A2E;}

body{ 
  margin:0px;
}
.container{
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

h1{
  border-bottom: 2px solid #5C3A2E;
  padding-bottom: 10px;
  margin-bottom: 25px;
}


/* On Main Page */

.actionItem{
  border: 10px solid #5C3A2E;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 8px gray;
  margin:50px;
  background-color: #5C3A2E;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  

}

.missionState{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.message{
  font-size: 30px;
  margin: 2px;
}

.name{
  font-size: 50px;
  margin: 5px;
}

.description{
  font-size: 18px;
  max-width: 400px
}
.price{
  font-size: 22px;
  font-weight: bold;
}

.bottle {
  height: 400px;
  width: auto;
}
.product{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #5C3A2E;
}

.try{
  text-align: center;
  font-size: 25px;
}

/* About Page*/
.aboutText{
  font-size: 28px;
}



/* Where Page*/
.whereImg{
  width: 200px;
  height:200px;
}
.whereLogo{
  display:flex;
  justify-content: space-around;
  font-size:40px;
  text-align: center;
  
}
.whereText{
  text-align: center;
  font-size: 25px;
}
