
*{
  font-family: "Poppins", serif; 
}

body{ margin:0px;}


.navbar{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.navbar a:visited {
  color: white;
  
}

.navbar .siteName{
  font-size: 50px;
} 

nav{background-color: #5C3A2E;}

.actionItem{
  border: 10px solid #5C3A2E;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 8px gray;
  margin:50px;
  background-color: #5C3A2E;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  

}

.missionState{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.message{
  font-size: 30px;
  margin: 2px;
}

.sweetCream{
  font-size: 50px;
  mmargin: 2px;
}

.bottle {
  height: 600px;
  width: 500px;
}
.newBodyWash{
  display: flex;
  justify-content: space-around;
}

h1{
  border-bottom: 2px solid #5C3A2E;
}
