/* On every page */
*{
  font-family: "Poppins", serif; 
}
.navbar{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
}
.navbar a:visited {
  color: white;
}
.navbar a:hover {
  color: #8E6152;
}

nav{background-color: #5C3A2E;}

body{ 
  margin:0px;
}
.container{
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

h1{
  border-bottom: 2px solid #5C3A2E;
  padding-bottom: 10px;
  margin-bottom: 25px;
}


/* On Main Page */

.actionItem{
  border: 10px solid #5C3A2E;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 8px gray;
  margin:50px;
  background-color: #5C3A2E;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  

}

.missionState{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.message{
  font-size: 30px;
  margin: 2px;
}

.name{
  font-size: 50px;
  margin: 5px;
}

.description{
  font-size: 18px;
  max-width: 400px
}
.price{
  font-size: 22px;
  font-weight: bold;
}

.bottle {
  height: 400px;
  width: auto;
}
.newProduct{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #5C3A2E;
}

.try{
  text-align: center;
  font-size: 25px;
}

/* Shop Page*/
.bottle{
  width: 300px;
  height:auto;
}
.product{
  display:flex;
  gap: 20px;
  justify-content: space-between;
  font-size:22px;
  text-align: center;
  text-decoration: none;
  
  
}

.sweetCream:hover, .mallow:hover, .pinaColada:hover, .orange:hover {
   transform: translateY(-5px) scale(1.1);
  
}

.sweetCream, .mallow, .pinaColada, .orange{
  transition: 0.3s;
}
.sweetCream a, .mallow a, .pinaColada a, .orange a{
   color: black;
  text-decoration: none;
  transition: 0.3s;
}
.sweetCream a:hover {
  color: #F7EDE1;
}

.mallow a:hover {
  color: #C4C1BD;
}

.pinaColada a:hover {
  color: #FAE4A6;
}
.orange a:hover {
  color: #FFD6BD;
}


/* For Each Body Wash Page*/

.productPage{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items:center;
}

.productInfo{
  max-width: 500px
}


.product{
  width:350px;
  height:auto;
  margin-top:50px;
}

label {
   width: 150px;
   display: inline-block;
   text-align: right;
   margin-right: 8px;
}

input[type=text], input[type=email] {
   box-sizing: border-box;
   width: 250px;
   padding: 10px;
   border: 1px solid #aaa;
   border-radius: 4px;
}

textarea{
  box-sizing: border-box;
   width: 250px;
   padding: 10px;
   border: 1px solid #aaa;
   border-radius: 4px;
}

button {
   width: 200px;
   background-color: #5C3A2E;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
button:hover {
   background-color: #8E6152;
}

  form{
    margin-top: 12px;
    margin-bottom: 12px;
  }

.rating{
  display:flex;
  flex-direction:row-reverse;
  gap:1px;
}
.rating input{
  display:none;
}

.rating label{
  font-size: 30px;
  
}
.rating label:hover, .rating label:hover ~ label{
  color:gold;
}


.rating input:checked ~ label{
  color:gold;
}




/* About Page*/
.aboutText{
  font-size: 28px;
}



/* Where Page*/
.whereImg{
  width: 300px;
  height: autopx;
}
.whereLogo{
  display:flex;
  justify-content: space-around;
  font-size:40px;
  text-align: center;
  text-decoration: none;
  
  
}
.whereText{
  text-align: center;
  font-size: 25px;
}

.target:hover, .walmart:hover, .amazon:hover {
   transform: translateY(-5px) scale(1.1);
  
}

.target, .walmart, .amazon{
  transition: 0.3s;
}
.target a, .walmart a, .amazon a{
   color: black;
  text-decoration: none;
  transition: 0.3s;
}
.target a:hover {
  color: #CC0001;
}

.walmart a:hover {
  color: #FFC220;
}

.amazon a:hover {
  color: #FF9900;
}

