
*{
  font-family: "Poppins", serif; 
}


.navbar{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.navbar a: visited {
  color: white;
  
}

.navbar .siteName{
  font-size: 59px;
} 

nav{background-color: #5C3A2E;}

