
*{
  font-family: "Poppins", serif; 
}

body{ margin:0px;}


.navbar{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.navbar a:visited {
  color: white;
  
}

.navbar .siteName{
  font-size: 50px;
} 

nav{background-color: #5C3A2E;}

.actionItem{
  border: 5px solid #5C3A2E;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  padding:5px;
  box-shadow: 5px 5px 5px;

}

.missionState{
  text-align: center;
  font-size: 20px;
}

