
*{
  font-family: "Poppins", serif; 
}


.navbar{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: blue;
  
  
}

nav{background-color: #5C3A2E;}

